
body {
    background-color: grey;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
    gap: 5px;
}

.header {
    border-radius: 10px;
    background-color: aliceblue;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    border-radius: 10px;
    background-color: antiquewhite;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.add-new-project {
    border: 2px solid black;
    background-color: azure;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: 0 5px 5px 0 black;
}

.add-new-project:active {
    transform: scale(0.95);
}

.project {
    border: 2px solid rgb(95, 121, 239);
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    gap: 20px;
}

.project-delete {
    border-radius: 10px;
    padding: 20px;
}

.project-name {
    border-radius: 10px;
    padding: 20px;
}

.project-container {
    display: flex;
    flex-direction: column;
    height: auto;
}


.main {
    border-radius: 10px;
    background-color: azure;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.add-new-task {
    border: 2px solid rgb(0, 170, 255);
    background-color: rgb(208, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    border: 2px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task input {
    height: 25px;
    border-radius: 10px;
}

.task-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.input-task {
    width: 70%;
}

.delete-task {
    background-color: rgb(214, 32, 32);
    border-radius: 5px;
}

.check-task {
    scale: 1.75;
}




