body {
    background-color: grey;
    margin: 0;
}

.content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
    gap: 5px;
}

.header {
    border-radius: 10px;
    background-color: aliceblue;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    border-radius: 10px;
    background-color: antiquewhite;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.main {
    border-radius: 10px;
    background-color: aqua;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}



